:root {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-rendering: auto;
  background-size: cover;
  background-image: url('./wavy-lines.svg');
}
